{{render '@header'}}

<section class="srp-head">
    <div class="container-fluid">
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="">
                        <input type="text" class="srp-input" placeholder="Zoekterm">
                        <input type="submit" class="srp-submit" value="Zoek">
                    </form>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span>100 resultaten gevonden op "wat ben je dan"</span>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
        </div>
    </div>
</section>

{{render '@footer'}}