{{render '@header'}}

<section>
    <div class="container-fluid">
        {{render '@section-page-title'}}
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
            <div class="col-xs-12 col-md-4">
                {{render '@module-tile'}}
            </div>
        </div>
    </div>
</section>

{{render '@footer'}}