<div class="collectie-pagina"></div>

<section>
    <div class="container">
        <h1>
            Banken
        </h1>
        <p>
            Intro tekst over banken
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam perferendis deleniti nobis recusandae esse officiis porro? Molestias, repellat aspernatur error quaerat placeat dolor maxime repudiandae? Fugit eos dignissimos adipisci ducimus.
        </p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{render '@collectie-tile'}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{render '@collectie-tile'}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{render '@collectie-tile'}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{render '@collectie-tile'}}
            </div>
            <div class="col-xs-12 col-md-6">
                {{render '@collectie-tile'}}
            </div>
        </div>
    </div>
</section>

{{render '@footer'}}